log:
  handlerStd: true
  handlerFile: false
  fileDir: logs
  level: debug
listen:
  addr: 127.0.0.1
  port: 8080
auth:
  ip: 127.0.0.1
account:
# EvMnemonic
  type: EvMnemonic
  keys:
    1:
      type: PlainMnemonic
      key: xxxxx
      index: 0-4
chains:
  ethereum:
    chain_type: ethereum
    chain_id: 1
  goerli:
    chain_type: ethereum
    chain_id: 5
  fantom:
    chain_type: ethereum
    chain_id: 250
  arb:
    chain_type: ethereum
    chain_id: 42161
  bsc:
    chain_type: ethereum
    chain_id: 56